body{
	background-color: lightgrey;
	border: 1px solid black;
	font-family: verdana;
}
#header_page{
	border: 1px solid black;
	padding-left: 25px

}
#nav_page{
	border: 1px solid black;
	padding-left: 25px;
}
ul{
	list-style-type: none;
	padding: 5px;
}
li{
	display: inline-flex;
	padding: 15px 15px;
	border: 1px solid black;
	margin-right: 2px;
}